<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843913595137-g3cm3beh75sujnc7b1e984vaaqfhal8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843913595137-g3cm3beh75sujnc7b1e984vaaqfhal8i</string>
	<key>API_KEY</key>
	<string>AIzaSyDIIRBrn_jxVZCetFArAyxfRB1X4BlLeS8</string>
	<key>GCM_SENDER_ID</key>
	<string>843913595137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myDigitalLibrary</string>
	<key>PROJECT_ID</key>
	<string>digilib-d33b8</string>
	<key>STORAGE_BUCKET</key>
	<string>digilib-d33b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843913595137:ios:83cce42fbc531ac5f67300</string>
</dict>
</plist>